ul, li, div{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 44px;
  background-color: #fff;
  border-bottom: 4px solid rgb(127,43,123);
  box-shadow: rgb(127, 43, 123) 0 2px 4px;
  z-index: 100;
  display: flex;
  box-sizing: content-box;
  align-items: center;
}

.header_left{
  margin-left: 6px;
  cursor: pointer;
}
.header_right{
  margin-right: 6px;
  cursor: pointer;
}

.header_center {
  text-align: center;
  flex: 1;
  font-size: 1.2rem;
}

.form_warp{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-top: 40px;
}

.form_warp>.form{
  flex: 1;
  width: 100%;
}

.form_warp > .form > ul {
  max-width: 400px;
  margin: 0 auto;
}

.form_warp .button_footer{
  border-radius: 6;
  background-color: green;
  color: #fff;
}

.form_warp>.form>ul>li{
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  display: flex;
  line-height: 44px;
}

.form_warp >.form>ul>li:last-child{
  font-size: 0.75rem;
  justify-content: center;
  line-height: inherit;
}

.record{
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.record > li{
  border-bottom: 1px solid #ccc;
  padding: 12px 4px;
  display: flex;
  width: 100%;
  width: 100%;
  justify-content: space-between
}

.panel{
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 7px 1px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}